name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
        
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet.exe for use with actions
        uses: NuGet/setup-nuget@v1.0.7
        
      - name: Setup VSTest
        uses: darenm/Setup-VSTest@v1
        
      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE
        
      - name: Print workspace 
        run: echo "$env:GITHUB_WORKSPACE"

      - name: Restore Packages
        run: nuget restore HudlClientTest.csproj
        
      - name: Restore Packages
        run: |
          cd ..
          cd HudlTestFrameworks
          nuget HudlTestFrameworks.sln

      - name: Build Solution
        run: |
          cd $GITHUB_WORKSPACE
          msbuild.exe HudlQATest.sln /p:platform="Any CPU" /p:configuration="Release"
          
      - name: Build Solution
        run: |
          msbuild.exe HudlTestFrameworks.sln /p:platform="Any CPU" /p:configuration="Release"
        
      - name: Run Tests
        run: vstest.console.exe ".\HudlQATest\bin\Debug\net48\HudlClientTest.dll"
